# maybe set some ENV vars too
export PROJECT_JAVA_VERSION="11.0.24-tem"
export PROJECT_MAVEN_VERSION="3.9.8"
export PROJECT_SCALA_VERSION="2.12.12"
export FOO="BAR"

use sdk java 11.0.24-tem
use sdk maven 3.9.8
use sdk scala 2.12.12
